<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmayiedu.test01.mapping.UserMapper1">
<resultMap id="BaseResultMap" type="com.itmayiedu.entity.UserEntity">
    <id column="id" property="id" />
    <result column="name"  property="name" />
    <result column="age"  property="age" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
  		select * from users
  </select>
  <select id="selectPageHelper" resultMap="BaseResultMap">
    	select * from users
  </select>
</mapper>

  